Results: <%= @all_stations.count %>
<% @all_stations.each_with_index do |station, index| %>
  <ul class="station-<%= index %>">
    <li> <strong>Hours: </strong><%= station.hours %></li>
    <li> <strong>Name: </strong><%= station.name %></li>
    <li> <strong>Fuel Types: </strong><%= station.fuel_types %></li>
    <li> <strong>Street Address: </strong><%= station.street_address %></li>
    <li> <strong>City: </strong><%= station.city %>, <%= station.state %></li>
    <li> <strong>Distance: </strong><%= station.distance.round(2) %> miles</li>
  </ul>
<% end %>
