Results: <%= @all_stations.count %>
<% @all_stations.each do |station| %>
  <ul class="station">
    <li> Hours: <%= station.hours %></li>
    <li> Name: <%= station.name %></li>
    <li> Fuel Types: <%= station.fuel_types %></li>
    <li> Street Address: <%= station.street_address %></li>
    <li> City: <%= station.city %></li>
    <li> Distance: <%= station.distance %> miles</li>
  </ul>
<% end %>
