Results: <%= @stations.count %>
<% @stations.each do |station| %>
  <ul class="station">
    <li> <%= station.name %></li>
    <li> <%= station.address %></li>
    <li> <%= station.fuel_types %></li>
    <li> <%= station.distance %></li>
    <li> <%= station.access_times %></li>
  </ul>
<% end %>
